.btn-solid-white {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
  }