<nav class="navbar navbar-expand-lg ">
  <div>
    <a href="/" class="d-flex align-items-center col-md-4 ">
      <img src="assets/imgs/1.png" class="img-fluid">
    </a>
</div>
  <!--a class="navbar-brand" href="#">Navbar</a-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item active">
        <a class="nav-link text-white font-weight-bold" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" href="#">Quienes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" href="#">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold btn-whie" href="#">Cuenta</a>
      </li>
      <li class="nav-item">
        <a class="btn-solid-white btn btn-light" href="#">Contacto</a>
    </ul>


  </div>
</nav>




<!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->