<div class="col-12">
    <h2 class="text-center font-weight-bold">Quienes somos?<br></h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at porta dolor. Phasellus eu lectus vel nibh facilisis finibus vel ut orci.<br> Nullam sollicitudin commodo sem. Fusce quis accumsan nunc.</p>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <!--Aqui va la otra imagen se puso la del celular para hacer la proporcion-->
                        <img class="img-fluid" src="assets/imgs/1/smartphone (1).png">
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="assets/imgs/1/smartphone (1).png">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h4 class="text-center font-weight-bold">Crea la aplicacion que todos van a amar<br></h4>
                <p class="text-left">Suspendisse volutpat lorem vitae viverra vestibulum. Integer vestibulum malesuada est nec scelerisque. Fusce mollis nunc ut semper interdum. Nulla facilisi. Suspendisse efficitur in ipsum sit amet tempus. Vestibulum tempor enim et pretium aliquet. Curabitur sapien tellus, congue id nibh sit amet, tincidunt lacinia mi. Ut eget libero nunc.
                    <br>
                    Suspendisse volutpat lorem vitae viverra vestibulum. Integer vestibulum malesuada est nec scelerisque. Fusce mollis nunc ut semper interdum. Nulla facilisi. Suspendisse efficitur in ipsum sit amet tempus. Vestibulum tempor enim et pretium aliquet. Curabitur sapien tellus, congue id nibh sit amet, tincidunt lacinia mi. Ut eget libero nunc.
                </p>
                <button type="button" class="btn btn-outline-secondary">Saber mas<img class="img" src="assets/imgs/1/arrow_right_alt-24px (1).png"></button>
            </div>

        </div>
    </div>

</div>