<!--<div class="container">
    <div class="row">
        <div>
            <p>Frase de la empresa</p>
        </div>
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        
    </div>
col-md-12 col-lg-12 col-xl-4 mb-4

col-md-12 col-lg-6 col-xl-4 mb-4
</div>-->

<div _ngcontent-uxp-c6="" class="row ">
    <div _ngcontent-uxp-c6="" class="col-4 col-sm-12 col-md-6 col-lg-4">
        <h1>Creamos Aplicaciones innovadoras con la mejor tecnología..</h1>
        <p>"Si tu negocio no esta en internet tu negocio no existe"Bill Gates</p>
    </div>

    <div _ngcontent-ijq-c6="" class="row col-8">

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-6 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Primera tarjeta</p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-6 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Welcome </p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-6 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Tercera tarjeta </p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

    </div>
</div>