<!--<div class="container">
    <div class="row">
        <div>
            <p>Frase de la empresa</p>
        </div>
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        
    </div>
col-md-12 col-lg-12 col-xl-4 mb-4

col-md-12 col-lg-6 col-xl-4 mb-4
</div>-->

<!--

<div _ngcontent-uxp-c6="" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div _ngcontent-uxp-c6="" class="col-5 col-sm-12 col-md-6 col-lg-4">
        <h1>Creamos Aplicaciones innovadoras con la mejor tecnología..</h1>
        <p>"Si tu negocio no esta en internet tu negocio no existe"Bill Gates</p>
    </div>

    <div _ngcontent-ijq-c6="" class="row mb-3 col-7">

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-2 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Primera tarjeta</p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-3 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Welcome </p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

        <div _ngcontent-ijq-c6="" class="col-sm-12 col-md-2 col-lg-4">
            <div _ngcontent-ijq-c6="" class="card shadow-sm border-0 mb-4">
                <div _ngcontent-ijq-c6="" class="card-body ">
                    <p _ngcontent-ijq-c6="" class="mb-0 text-mute f-sm"> Tercera tarjeta </p>
                </div>
                <div _ngcontent-ijq-c6="" class="card-footer bg-none border-0"><button _ngcontent-ijq-c6=""
                        class="btn btn-sm btn-primary">skip</button></div>
            </div>
        </div>

    </div>
</div>
-->

<div _ngcontent-oey-c11="" id="details" class="basic-1">
    <div _ngcontent-oey-c11="" class="container">
        <div _ngcontent-oey-c11="" class="row">
            <div _ngcontent-oey-c11="" class="col-md-5">
                <div _ngcontent-oey-c11="" class="text-container">
                    <h2 _ngcontent-oey-c11="">Creamos Aplicaciones Innovadoras Con La Mejor Tecnología...</h2>
                    <h4 _ngcontent-oey-c11="">"Si Tu Negocio No Esta En Internet, Tu Negocio No Existe"Bill Gates</h4>
                    <div class="row col-12">
                        <a _ngcontent-oey-c11="" href="" class="btn-solid-sm col-md-4">Descargar
                        </a>
                        <a _ngcontent-oey-c11="" href="" class="btn-outline-tras col-md-4 ">Saber Mas</a>
                    </div>


                </div>
            </div>

            <div _ngcontent-oey-c11="" class="col-md-7">
                <p>Aqui van las imagenes</p>
            </div>

        </div>
    </div>
</div>