<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="src\assets\imgs\1.png" class="img-fluid">
    </a>
  
    <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Servicios</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Quienes somos</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Portafolio</a></li> 
    </ul>
  
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Clientes</button>
    </div>
  </header>
</div>

  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
        