<!--<div class="">
  <header class="d-flex">
    <div>
      <a href="/" class="d-flex align-items-center col-md-4 ">
        <img src="assets/imgs/1.png" class="img-fluid">
      </a>
  </div>
  <div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Servicios</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Quienes somos</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Portafolio</a></li> 
    </ul>
  
   
  </div> 
  <div class="col-md-3 justify-content-center">
      <button type="button" class="btn btn-outline-primary me-2 align-items-center">Clientes</button>
    </div>  
  </header>

  fixed-top
</div> -->
<!--
<nav _ngcontent-oey-c11="" class="navbar navbar-expand-md navbar-light bg-light">
  <div _ngcontent-oey-c11="" class="container">
    <div class=" row justify-content-start col-md-4">
      <a href="" class="d-flex align-items-center col-md-4 ">
        <img src="assets/imgs/1.png" class="img-fluid" width = "100%">
      </a>
    </div>
    <div _ngcontent-oey-c11="" class="navbar-collapse offcanvas-collapse col-md-8">
      <ul _ngcontent-oey-c11="" class="navbar-nav ms-auto navbar-nav-scroll">
        <li _ngcontent-oey-c11="" class="nav-item"><a _ngcontent-oey-c11="" aria-current="page" href=""
            class="nav-link active">Inicio</a></li>
        <li _ngcontent-oey-c11="" class="nav-item"><a _ngcontent-oey-c11="" href="" class="nav-link">Servicios</a></li>
        <li _ngcontent-oey-c11="" class="nav-item"><a _ngcontent-oey-c11="" href="" class="nav-link">Quienes somos</a>
        </li>
      </ul>
      <span _ngcontent-oey-c11="" class="nav-item"><a _ngcontent-oey-c11="" href=""
          class="btn-solid-sm">Portafolio</a></span>
    </div>
  </div>
</nav>
-->


<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Switch account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
  </nav>
</div>
<script>
  (() => {
'use strict'

document.querySelector('#navbarSideCollapse').addEventListener('click', () => {
  document.querySelector('.offcanvas-collapse').classList.toggle('open')
})
})()

</script>