
<div class="col-12 m-0 p-0">
    <div class="backcurve">
        <img src="assets/imgs/Trazado 2.png" class="heaven2 img-fluid" />
        <img src="assets/imgs/woman.png" class="heaven img-fluid" />
        <img src="assets/imgs/Trazado 1527.png" class="eye img-fluid" />
        <app-head></app-head>
        <app-landing></app-landing>
        
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <app-services class=""></app-services>
    <br><br><br><br>
    <app-about></app-about>
    <br><br><br><br>
</div>

