<div class="col-12">
    <h2 class="text-center font-weight-bold">Completamos mas de 1200 proyectos al año<br>con exito y contando</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at porta dolor. Phasellus eu
        lectus vel nibh facilisis finibus vel ut orci.<br> Nullam sollicitudin commodo sem. Fusce quis accumsan nunc.
    </p>

</div>

<div class="container text-center">
    <div class="row mb-3 mx-auto">
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
    </div>
</div>


<h2 class="text-center font-weight-bold">Nuestro portafolio</h2>
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at porta dolor. Phasellus eu
    lectus vel nibh facilisis finibus vel ut orci.<br> Nullam sollicitudin commodo sem. Fusce quis accumsan nunc.
</p>
<div class="col-md-12">
    <div class="row">
        <a href="/" class="d-flex align-items-center col-md-3 m-0 p-0">
            <img src="assets/imgs/iPhone X - Light.png" class="img-fluid">
        </a>
        <a href="/" class="d-flex align-items-center col-md-3 m-0 p-0">
            <img src="assets/imgs/iPhone X - Light.png" class="img-fluid">
        </a>
        <a href="/" class="d-flex align-items-center col-md-3 m-0 p-0">
            <img src="assets/imgs/iPhone X - Light.png" class="img-fluid">
        </a>
        <a href="/" class="d-flex align-items-center col-md-3 m-0 p-0">
            <img src="assets/imgs/iPhone X - Light.png" class="img-fluid">
        </a>
    </div>
</div>