<div class="col-12">
    <h2 class="text-center font-weight-bold">Completamos mas de 1200 proyectos al año<br>con exito y contando</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at porta dolor. Phasellus eu
        lectus vel nibh facilisis finibus vel ut orci.<br> Nullam sollicitudin commodo sem. Fusce quis accumsan nunc.
    </p>
    <div class="">
        <div class="row">
            <a class="btn btn-primary" href="#" role="button">Link</a>
            <button class="btn btn-primary" type="submit">Button</button>
            <input class="btn btn-primary" type="button" value="Input">
            <input class="btn btn-primary" type="submit" value="Submit">
            <input class="btn btn-primary" type="reset" value="Reset">
        </div>
    </div>
</div>