<div class="col-12">
    <h2 class="text-center font-weight-bold">Brindamos varios tipos de<br> servicios para usted<br></h2>
    <p class="text-center">Todos Tus Proyectos O Emprendimientos De Tu Mente A La Realidad</p>
    <div class="col-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 rounded">
                    <img class="card-img-top" src="assets/imgs/1/smartphone (1).png">
                    <div class="card-body">
                        <h5 class="card-title text-center">Interfaz De Usuario</h5>
                        <p class="card-text">La Mas Amigable E Intuitiva Del Mercado. La Mejoramos Dia A Dia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 rounded">
                    <img class="card-img-top" src="assets/imgs/1/layout.png" >
                    <div class="card-body">
                        <h5 class="card-title text-center">Dashboard CMR</h5>
                        <p class="card-text">Los Datos En Tiempo Real Y A Tu Alcance Para Que Los Puedas Editar, Eliminar O Verificar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 rounded">
                    <img class="card-img-top" src="assets/imgs/1/layout.png">
                    <div class="card-body">
                        <h5 class="card-title text-center">Desarrollo Multiplataforma</h5>
                        <p class="card-text">Desde Tu Aplicacion Web O Cualquier Dispositivo.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>