<div class="col-12">
    <div class="row">
        <div class="col-md-4 m-auto">
            <h2 class="text-white">Creamos Aplicaciones Innovadoras Con La Mejor Tecnología...</h2>
            <h4 class="text-white">"Si Tu Negocio No Esta En Internet, Tu Negocio No Existe"Bill Gates</h4>
            <br>
            <div class="col-md-12 ">
                <div class="row">
                    <a  href="" class="btn-solid-sm btn btn-light col-md-6">Descargar
                    </a>
                    <a  href="" class="btn-outline-tras col-md-6 text-white">Saber Mas</a>
                </div>
            </div>        
        </div>
        <div class="col-md-7">
            <div class="row">
                <a href="/" class="d-flex align-items-center col-md-4">
                    <img  src="assets/imgs/iPhone X - Light.png" class="img-fluid zoom">
                </a> 
                <a href="/" class="d-flex align-items-center col-md-4">
                    <img src="assets/imgs/iPhone X - Light.png"  class="img-fluid zoom" >
                </a>  
                <a href="/" class="d-flex align-items-center col-md-4">
                    <img src="assets/imgs/iPhone X - Light.png" class="img-fluid zoom">
                </a>
            </div>
        </div>
    
    </div>
</div>



<!--div class="container">
        <div class="row">
            <div  class="col-md-5">
                <div  class="text-container">
                    <h2 >Creamos Aplicaciones Innovadoras Con La Mejor Tecnología...</h2>
                    <h4 >"Si Tu Negocio No Esta En Internet, Tu Negocio No Existe"Bill Gates</h4>
                    <div class="row col-12">
                        <a  href="" class="btn-solid-sm col-md-4">Descargar
                        </a>
                        <a  href="" class="btn-outline-tras col-md-4 ">Saber Mas</a>
                    </div>


                </div>
            </div>

            <div  class="col-md-7">
                <p>Aqui van las imagenes</p>
            </div>

        </div>
    </div-->

