<div _ngcontent-oey-c11="" id="details" class="basic-1">
    <div _ngcontent-oey-c11="" class="container">
        <div _ngcontent-oey-c11="" class="row">
            <div _ngcontent-oey-c11="" class="col-md-5">
                <div _ngcontent-oey-c11="" class="text-container">
                    <h2 _ngcontent-oey-c11="">Creamos Aplicaciones Innovadoras Con La Mejor Tecnología...</h2>
                    <h4 _ngcontent-oey-c11="">"Si Tu Negocio No Esta En Internet, Tu Negocio No Existe"Bill Gates</h4>
                    <div class="row col-12">
                        <a _ngcontent-oey-c11="" href="" class="btn-solid-sm col-md-4">Descargar
                        </a>
                        <a _ngcontent-oey-c11="" href="" class="btn-outline-tras col-md-4 ">Saber Mas</a>
                    </div>


                </div>
            </div>

            <div _ngcontent-oey-c11="" class="col-md-7">
                <p>Aqui van las imagenes</p>
            </div>

        </div>
    </div>
</div>
